* {
    padding: 0;
    margin: 0;
}

#head-editor {
    background-color: #009FBD;
    color: aliceblue; 
    margin-bottom: 0;
}

#container {
    margin: 20px auto 0 auto;
    width: 50%;
    height: 200px;
}

#editor {
    width: 100%;
    background-color: #F9E2AF;
    height: 100%;
}



